*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair Display", serif;
}
h2{
        font-family: "Dancing Script", cursive;
}
.korpa{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
table{
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 0 4px 10 pc rgb(64, 64, 64, 0.2);
}
.sviproizvodiukorpi{
    padding: 50px;

}
th, td{
    padding: 10px;
    border: 1px solid #ccc;
}
.obrisi{
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.obrisi:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
input{
    width: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}