*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair Display", serif;
}
h2{
        font-family: "Dancing Script", cursive;
}
.nasaponuda{
    background-color: rgb(255, 205, 240);
    padding: 20px;
    text-align: center;
}
.sviproizvodi{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.proizvod{
    background-color: white;
    border-bottom: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgb(65, 63, 63, 0.2);
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 600px;
}
.proizvodheder{
    width: 100%;
    height: 300px;
}
.proizvod img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 10px;
    object-fit: cover;
}
.dodaj{
    background-color: bisque;
    color: brown;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}
.dodaj:hover{
    background-color:brown ;
    color: bisque;
    transition: 0.3s;
}
.staracena{
    text-decoration: line-through;
    font-size: 16px;
    margin-right: 10px;
}
.novacena{
    font-size: 20px;
    font-weight: bold;
    color: brown;
}
.proizvod:hover{
    transform: scale(1.05);
    transition: 0.3s;
}