*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair Display", serif;
}
h1, h2{
        font-family: "Dancing Script", cursive;

}


/* POCETAK CSS ZA HERO SEKCIJU */
#hero{

    background: url(https://i.pinimg.com/736x/b8/8f/8b/b88f8b20dafb48a6e893c13c06678354.jpg) no-repeat center/cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.hero-content h1{
    color: rgb(255, 205, 240);
    font-family: "Dancing Script", cursive;
    font-size: xx-large;
    margin-bottom: 30px;
}
.hero-content{
    background-color: rgb(150, 137, 137, 0.7);
    padding: 45px;
    width: 60%;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgb(118, 116, 116,0.2);
    color: rgb(255, 255, 255);
}
/* KRAJ CSS ZA HERO SEKCIJU */

/* POCETAK CSS ZA UKUSI SEKCIJU*/

.ukusi-section{
    background-color: rgb(255, 210, 217);
    max-width: 1500px;
    margin: 50px auto;
    padding: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(106, 105, 105, 0.2);
}
.ukusi-section h2{
    font-family: "Dancing Script", cursive;
    font-size: xx-large;
}

.ukusi-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 20px ;
padding: 20px;
}
.ukus-box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid gold;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    
}
.ukus-box img:hover{
    transform: rotateY(360deg);
}
.ukus-box h3{
text-align: center;
margin-top: 10px;
}

/*KRAJJ CSS ZA UKUSI SEKCIJU */

/* POCETAK SEKCIJE ZA NOVI PROIZBOD SEKCIJU */
.best-seller-section{
    background-color: #ffffec;
    padding: 40px 20px;
    text-align: center;
    color: rgb(131, 49, 24);
}
.best-seller-section h2{
    font-family: "Dancing Script", cursive;
    font-size: xx-large;
}
.cena{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: rgb(246, 63, 42);
}
.best-seller-content img{
    height: 400px;

}
.best-seller-content{
    position: relative;
}
.nutritivne-vrednosti{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 350px;
    margin: 10px auto;
}
.stiker{
    position: absolute;
    top: 20px;
    left: 500px;
    background-color: rgb(255, 80, 80);
    color: white;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(79, 79, 79, 0.2);
    letter-spacing: 2px;
    transform-origin: top center;
    animation: swing 2s infinite ease-in-out;
}
@keyframes swing{
    0% { transform: rotate(0deg);}
    25% { transform: rotate(5deg);}
    50% { transform: rotate(0deg);}
    75% { transform: rotate(-5deg);}
    100% { transform: rotate(0deg);}
}
.alergeni{
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid rgb(204, 204, 204);
    font-size: small;
}
/* KRAJ SEKCIJE ZA NOVI PROIZBOD SEKCIJU */
.o-nama{
    
    background-color: rgb(202, 226, 234);
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px 0 0 30px;
    box-shadow: 4px 4px 10px rgb(21, 21, 21, 0.2);
}


.o-nama-slika img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px 30px 30px 30px;
}
.o-nama-sadrzaj{
    padding: 50px;
}
.o-nama h2{
    font-family: "Dancing Script", cursive;
    padding-bottom: 50px;
    color: #f73abe;
}
 /* CSS za preporuke */
 .preporuke{
    background-color:  rgb(255, 210, 217);
    margin: 50px auto;
    padding: 50px 10%;
 }
 .preporuke h2{
    font-family: "Dancing Script", cursive;

 }
 .preporuka{
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgb(75, 74, 74, 0.2);
    opacity: 0;
    animation-fill-mode: forwards ;
 }
 .preporuka:nth-child(1){
    animation: slideInLeft 1s ease forwards;
    animation-delay: 0.2s;
 }
 .preporuka:nth-child(2){
    animation: slideInRight 1s ease forwards;
    animation-delay: 0.2s;
 }
 @keyframes slideInLeft{
    from{
        opacity:0;
        transform: translateX(-50px);
    }
    to{
        opacity:1;
        transform: translateX(0);
    }
 }
 @keyframes slideInRight{
    from{
        opacity:0;
        transform:translateX(50px)
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
 }
 .preporuke-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
 }
 .preporuka-footer img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
 }
 .preporuka-footer{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .zvezdice{
    color: gold;
    padding-bottom: 10px;
 }
 .zasto{
    background-color: rgb(220, 243, 245);
    padding: 50px 20px;
    margin:  50px auto;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(82, 81, 81,0.2);
 }
 .slika img{
    width: 250px;
    height: auto;
 }
 .zasto-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
 }
 .razlog{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 5px;
 }
 .kolona1{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
 }
.kolona2{
    padding: 10px;
}
 